# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml

# Local configuration
local.properties

# API information
api.properties

# Crashlytics information
crashlytics.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml

signing.properties
android-release-tools
