# Set API information in api.properties.
# This is something to keep private and you obtain it by asking in the Amahi IRC channel or
# send a message to support at Amahi dot org

url.amahi=https://amahi.org
url.proxy=https://amahi.org
client.id=1234567890
client.secret=abcdefghijklmnopqrstuvwxyz
chromecast.app.id=4F8B3483
