.logo {
  background-image: url(amahi_cast_logo.png);
  background-size: auto 10%;
  background-color: white;
}

.splash {
  background-image: url(amahi_cast_splash.png);
  box-shadow: inset 0 0 0.1em 0.1em #000;
  background-color: white;
}

.watermark {
  background-image: url(amahi_cast_watermark.png);
  background-size: auto 57px;
}

.placeholderImage {
  background-size: contain;
}